<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vviped">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".twitter.twitterMain">

                </activity>
        <activity android:name=".twitter.TwitterHome">

        </activity>
        <activity android:name=".InstagramSplash" />
        <activity android:name=".twitter.twitter_login" />
        <activity android:name=".comment_action" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".activity_landing"></activity>
        <activity android:name=".ui.CommentsActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".twitter.LandingActivity" />
        <activity android:name=".twitter.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>